

{% extends "base.html" %}
{% load staticfiles %}
{% block scripts %}
{% comment %} <script>
window.onload=function(){
var responseData = [];
//axios.get("http://localhost:8000/api/v1/airlines").then(response => (responseData = response.data))
axios.get('http://localhost:8000/api/v1/airlines')
    .then(function (response) {
      responseData = response.data;
    })
//debug.log("THe response data -->> " + responseData)
//alert("H");
console.log(responseData) 
console.log(responseData.length) 
}

</script> {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
<script src="{% static 'js/test.js' %}"></script>

<canvas id="firstChart"></canvas>
<canvas id="secondChart"></canvas>
<canvas id="thirdChart"></canvas>
{% endblock scripts %}

